body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.btn {
    color: #000;
    font-size: 23px;
    font-weight: 500;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
}
